<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Crud</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <h1>Basic Crud</h1>
    <h3>Add Todo</h3>
    <form action="/api/add-todo" method="post">
        <input type="text" placeholder="todo" name="what">
        <input type="number" placeholder="priority" name="priority">
        <input type="submit">
    </form>
    <h2>ToDos</h2>
    <ul class="todos">
    <% for (i=0; i < todos.length; i++) { %>
        <li data-id="<%= todos[i]._id %>">
            <span><%= todos[i].what %></span>
            <span><%= todos[i].priority %></span>
            <i class="fas fa-arrow-circle-up"></i>
            <i class="fas fa-arrow-circle-down"></i>
            <i class="fas fa-trash"></i>
        </li>
    <% } %>
    </ul>
    <script src="js/main.js"></script>
</body>
</html>